@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Heavy.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Heavy.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Heavy.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Heavy.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Bold.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Bold.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Bold.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Blender";
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Medium.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Medium.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Medium.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Medium.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/Blender-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/387176_3_0.eot");
    src: url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/387176_3_0.eot?#iefix") format("embedded-opentype"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/387176_3_0.woff2") format("woff2"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/387176_3_0.woff") format("woff"),
        url("https://maxar-marketing.s3.amazonaws.com/files/impact-report-2019/fonts/387176_3_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}