a,
button {
  &.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    transition: all 0.25s ease-in-out;
    // &:after {
    //   content: "";
    //   width: 30px;
    //   height: 15px;
    //   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOC41NjMiIGhl
    //         aWdodD0iMTAuOTk3IiB2aWV3Qm94PSIwIDAgMjguNTYzIDEwLjk5NyI+PGcgdHJhbnNmb3JtPSJ0
    //         cmFuc2xhdGUoLTcwMy44NTIgLTYwMi41ODYpIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg3MDQu
    //         ODUyIDYwNCkiPjxwYXRoIGQ9Ik0zMzAsMjMxMi43MTVsNC4wODQsNC4wODRMMzMwLDIzMjAuODgz
    //         IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzA3LjkzNiAtMjMxMi43MTUpIiBmaWxsPSJub25lIiBz
    //         dHJva2U9IiNmY2FmMTciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+
    //         PHBhdGggZD0iTTMzNy4yNzIsMjMxOS45ODdIMzExLjUyOSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUo
    //         LTMxMS41MjkgLTIzMTUuOTAyKSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmNhZjE3IiBzdHJva2Ut
    //         bGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjwvZz48L2c+PC9zdmc+");
    //   background-repeat: no-repeat;
    //   background-position: top center;
    //   margin-left: $half_space;
    //   transition: all 0.25s ease-in-out;
    // }
  }
  &:hover {
    color: $color_primary_brand;
    // &:after {
    //   margin-left: $base_space;
    // }
  }
}
